__pycache__
.python-version
.DS_Store
PipFile
*.egg-info
.mypy_cache
.ruff_cache

# Experiment metadata parser output
metadata_compilation.txt
lfm_data_utilities/model_evaluations/autofocus/ssaf_output
lfm_data_utilities/model_evaluations/yogo/**/*.mp4
lfm_data_utilities/model_evaluations/yogo/titration_plot.png
lfm_data_utilities/model_evaluations/yogo/total_titration_plot.png
