__pycache__
.python-version
.DS_Store
PipFile
*.egg-info
.mypy_cache
.ruff_cache

# Experiment metadata parser output
metadata_compilation.txt

lfm_data_utilities/model_evaluations/autofocus/ssaf_output
lfm_data_utilities/model_evaluations/yogo/**/*.mp4
lfm_data_utilities/model_evaluations/yogo/*.png
lfm_data_utilities/model_evaluations/yogo/loss.csv

.ipynb_checkpoints
slurm-outputs/
lfm_data_utilities/model_evaluations/yogo/plotting_results
