__pycache__
.python-version
.DS_Store
PipFile
*.egg-info
.mypy_cache
.ruff_cache

# Experiment metadata parser output
metadata_compilation.txt

lfm_data_utilities/model_evaluations/autofocus/ssaf_output
lfm_data_utilities/model_evaluations/yogo/**/*.mp4
lfm_data_utilities/model_evaluations/yogo/*.png
lfm_data_utilities/model_evaluations/yogo/loss.csv

.ipynb_checkpoints
slurm-outputs/
lfm_data_utilities/model_evaluations/yogo/plotting_results
lfm_data_utilities/malaria_labelling/thumbnail_labelling/dataset_description_files
lfm_data_utilities/model_evaluations/yogo/yogo_prediction_handling/venv

lfm_data_utilities/hb_quantification/slurm/*.out
# Ignore very large files
lfm_data_utilities/hb_quantification/outputs/rwanda_mch_data_positions_processed.csv